﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Linkbot.Localization
@using Volo.Abp.Users
@model Linkbot.Web.Pages.IndexModel
@inject IHtmlLocalizer<LinkbotResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">

        <div class="row justify-content-center">
            @if (!CurrentUser.IsAuthenticated)
            {
                <div class="col-lg-4 col-12" style="width: 18rem; padding: 15px;">
                    <a href="~/Account/Login">
                        <abp-card class="home-page-card">
                            <i abp-card-image="Top" class="fas fa-sign-in-alt text-white d-block my-3 fa-3x"></i>
                            <abp-card-body>
                                <abp-card-title class="text-white">Login</abp-card-title>
                            </abp-card-body>
                        </abp-card>
                    </a>
                </div>            
            }

            else
            {
                <div class="col-lg-4 col-12" style="padding:15px;">
                    <a href="~/Customers">
                        <abp-card class="home-page-card">
                            <i abp-card-image="Top" class="fas fa-users text-white d-block my-3 fa-3x"></i>
                            <abp-card-body>
                                <abp-card-title class="text-white">Customers</abp-card-title>
                            </abp-card-body>
                        </abp-card>
                    </a>
                </div>            
            }
        </div>
    </div>
</div>
