﻿@page
@using Linkbot.Localization
@using Linkbot.Permissions
@using Linkbot.Web.Pages.Customers.Setting
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts
@model CreateCustomPropertyModalModel
@inject IStringLocalizer<LinkbotResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}

<form method="post" asp-page="/Customers/Setting/CreateCustomPropertyModal" id="createCustomPropertyForm">
    <abp-modal>
        <abp-modal-header title="@L["NewCustomProptery"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="CustomPropertyDetails.CustomPropertyName" />
            <abp-select asp-for="CustomPropertyDetails.CustomPropertyType" />
            @if (await AuthorizationService.IsGrantedAsync(LinkbotPermissions.CustomerSettings.CustomPropertyHost))
            {
                <abp-input asp-for="CustomPropertyDetails.IsHostProperty" />
            }
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
