﻿@page
@using Linkbot.Localization
@using Linkbot.Web.Pages.Customers.Setting
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts
@model EditModalModel
@inject IStringLocalizer<LinkbotResource> L
@{
    Layout = null;
}

<abp-dynamic-form abp-model="CustomerSettings" asp-page="/Customers/Setting/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["UpdateCustomerSetting"].Value"></abp-modal-header>
        <abp-modal-body>
            <div>
                @(await Component.InvokeAsync<PageAlertsViewComponent>())
            </div>
            <abp-form-content />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>