﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Linkbot.Localization
@using Linkbot.Permissions
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.Users
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@inject IHtmlLocalizer<LinkbotResource> L
@inject IAuthorizationService AuthorizationService
@model Linkbot.Web.Pages.Customers.Setting.IndexModel
@section scripts
{
    <abp-script src="/Pages/Customers/Setting/Index.js" />
}
<div id="divCustomerSetting">
    <abp-tabs name="customer-setting-tabs">
        @if (await AuthorizationService.IsGrantedAsync(LinkbotPermissions.CustomerSettings.MandatoryFieldListing))
        {
            <abp-tab title="@L["MandatoryField"].Value">
                <abp-card>
                    <abp-card-header>
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-card-title>@L["CustomerSetting"].Value</abp-card-title>
                            </abp-column>
                            <abp-column size-md="_6" class="text-right">
                                @if (await AuthorizationService.IsGrantedAsync(LinkbotPermissions.CustomerSettings.MandatoryFieldEdit))
                                {
                                    <abp-button id="EditSettingButton"
                                                text="@L["EditSetting"].Value"
                                                icon="edit"
                                                button-type="Primary" />
                                }
                            </abp-column>
                        </abp-row>
                    </abp-card-header>
                    <abp-card-body>
                        <abp-dynamic-form abp-model="CustomerSettings">
                            <div class="input-area">
                                <abp-form-content />
                            </div>
                        </abp-dynamic-form>
                    </abp-card-body>
                </abp-card>
            </abp-tab>
        }

        @if (await AuthorizationService.IsGrantedAsync(LinkbotPermissions.CustomerSettings.CustomPropertyListing))
        {
            <abp-tab title="@L["CustomProperty"].Value">
                <abp-card id="CustomPropertyWrapper">
                    <abp-card-header>
                        <abp-row>
                            <abp-column size-md="_6">
                                <abp-card-title>@L["CustomerCustomProperty"]</abp-card-title>
                            </abp-column>
                            <abp-column size-md="_6" class="text-right">
                                @if (await AuthorizationService.IsGrantedAsync(LinkbotPermissions.CustomerSettings.CustomPropertyCreate))
                                {
                                    <abp-button id="NewCustomPropteryButton"
                                                text="@L["NewCustomProptery"].Value"
                                                icon="plus"
                                                button-type="Primary" />
                                }
                            </abp-column>
                        </abp-row>
                    </abp-card-header>
                    <abp-card-body>
                        <abp-table striped-rows="true" id="CustomPropertyTable"></abp-table>
                    </abp-card-body>
                </abp-card>
            </abp-tab>
        }

    </abp-tabs>
</div>
