﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Linkbot.Localization
@using Linkbot.Web.Pages.Customers
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.ObjectExtending
@using Volo.Abp.Data
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts
@model EditModalModel
@inject IStringLocalizer<LinkbotResource> L
@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#customerDetailsCreateForm").submit(function () {
            var errorTab = $("#customerDetailsCreateForm .input-validation-error").closest(".tab-pane");
            if (errorTab.length !== 0) {
                var tabId = errorTab.get(0).id;
                $('#customerDetailsCreateForm a[href="#' + tabId + '"]').tab('show');
            };
        });
    });
</script>

<form method="post" asp-page="/Customers/EditModal" id="customerDetailsEditForm">
    <abp-modal size="Large">
        <abp-modal-header title="@L["UpdateCustomer"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="edit-user-modal-tabs">
                <abp-tab title="@L["BasicInformations"].Value">
                    <input asp-for="CustomerDetails.Id" />
                    <abp-input asp-for="CustomerDetails.FirstName" />
                    <abp-input asp-for="CustomerDetails.LastName" />
                    @if (Model.IsEmailMandatory)
                    {
                        <abp-input asp-for="CustomerDetails.EmailAddress" required-symbols="true" data-val="true" data-val-required="The Email Address field is required." auto-focus="true" />
                    }
                    else
                    {
                        <abp-input asp-for="CustomerDetails.EmailAddress" />
                    }

                    @if (Model.IsMobileNoMandatory)
                    {
                        <abp-input asp-for="CustomerDetails.MobileNumber" required-symbols="true" data-val="true" data-val-required="The Mobile Number field is required." />
                    }
                    else
                    {
                        <abp-input asp-for="CustomerDetails.MobileNumber" />
                    }

                    <abp-input asp-for="CustomerDetails.PhoneNumber" />
                    <abp-input asp-for="CustomerDetails.AddressLine1" />
                    <abp-input asp-for="CustomerDetails.AddressLine2" />
                    <abp-input asp-for="CustomerDetails.PostalCode" />
                    <abp-input asp-for="CustomerDetails.CompanyName" />
                </abp-tab>
                <abp-tab title="@L["Status"].Value">
                    <abp-select asp-for="CustomerDetails.CustomerStatus" />
                    <abp-select asp-for="CustomerDetails.Subscription" />
                    <abp-input asp-for="CustomerDetails.Remark"/>
                </abp-tab>
                <abp-tab title="@L["Other"].Value">
                    @foreach (var propertyInfo in @Model.CustomerDetails.CustomExtraPropertySetting)
                    {
                        if (Model.CustomerDetails.ExtraProperties.ContainsKey(propertyInfo.CustomPropertyName))
                        {
                            var inputType = String.Empty;
                            var inputFormat = String.Empty;

                            if (@propertyInfo.CustomPropertyType == "datetime")
                            {
                                inputType = "datetime-local";
                                inputFormat = "{0:yyyy-MM-ddTHH:mm}";

                                <abp-input type="@inputType" asp-format="@inputFormat" label="@L[propertyInfo.CustomPropertyName].Value"
                                           asp-for="CustomerDetails.ExtraProperties[propertyInfo.CustomPropertyName]"
                                           value="@String.Format(inputFormat, @Model.CustomerDetails.GetProperty(propertyInfo.CustomPropertyName))" />
                            }
                            else if (@propertyInfo.CustomPropertyType == "bool")
                            {
                                inputType = "checkbox";

                                <abp-input type="@inputType" asp-format="@inputFormat" label="@L[propertyInfo.CustomPropertyName].Value"
                                           asp-for="CustomerDetails.ExtraProperties[propertyInfo.CustomPropertyName]" />
                            }
                            else
                            {
                                if (@propertyInfo.CustomPropertyType == "string")
                                    inputType = "text";
                                else if (@propertyInfo.CustomPropertyType == "int")
                                    inputType = "number";

                                <abp-input type="@inputType" asp-format="@inputFormat" label="@L[propertyInfo.CustomPropertyName].Value"
                                           asp-for="CustomerDetails.ExtraProperties[propertyInfo.CustomPropertyName]"
                                           value="@Model.CustomerDetails.GetProperty(propertyInfo.CustomPropertyName)" />
                            }
                        }
                    }
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
