﻿@page
@using Linkbot.Localization
@using Linkbot.Permissions
@using Linkbot.Web.Pages.Customers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model IndexModel
@inject IStringLocalizer<LinkbotResource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
    <abp-script src="/Pages/Customers/Index.js" />
}

<abp-card id="CustomerDetailsWrapper">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Customers"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_4" style="padding:0px">
                <form method="POST" enctype="multipart/form-data" asp-page-handler="Import">
                    <div class="input-group" style="height:30px">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="excel">
                            <label class="custom-file-label col-form-label-sm" for="inputGroupFile02" style="height:30px">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span id=""><abp-button button-type="Primary" type="Submit">Import</abp-button></span>
                        </div>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_2" style="padding-left:0px" class="text-right">
                @if (await AuthorizationService.IsGrantedAsync(LinkbotPermissions.Customers.Create))
                {
                    <abp-button id="NewCustomerButton"
                                text="@L["NewCustomer"].Value"
                                icon="plus"
                                button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column size-md="_8"></abp-column>
            <abp-column size-md="_3" style="padding-right:0px">
                <form id="CustomersFilterForm" method="post" class="page-search-form">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text form-control-sm" placeholder="@L["Search"].Value" asp-for="Filter" />
                        <abp-button button-type="Primary" type="submit" size="Small" >
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </abp-button>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_1">
                <div class="input-group">
                    <div>
                        <form id="CustomersExportForm" method="POST" asp-page-handler="Export">
                            <input type="hidden" asp-for="FilterHidden" value="" />
                            <abp-button size="Small" button-type="Primary" type="Submit">Export</abp-button>
                        </form>
                    </div>
                </div>
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" id="CustomersTable"></abp-table>
    </abp-card-body>
</abp-card>

<abp-modal id="UpcomingApptModal" size="Large">
    <abp-modal-header title="@L["UpcomingAppointment"].Value"></abp-modal-header>
    <abp-modal-body>
        <abp-table striped-rows="true" id="UpcomingApptTable"></abp-table>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
</abp-modal>

<abp-modal id="PurchaseHistoryModal" size="Large">
    <abp-modal-header title="@L["PurchaseHistory"].Value"></abp-modal-header>
    <abp-modal-body>
        <abp-table striped-rows="true" id="PurchaseHistoryTable"></abp-table>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
</abp-modal>